<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AlternateIcon1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AlternateIcon1</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AlternateIcon2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AlternateIcon2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>NotoSans-Black.ttf</string>
		<string>NotoSans-BlackItalic.ttf</string>
		<string>NotoSans-Bold.ttf</string>
		<string>NotoSans-BoldItalic.ttf</string>
		<string>NotoSans-ExtraBold.ttf</string>
		<string>NotoSans-ExtraBoldItalic.ttf</string>
		<string>NotoSans-ExtraLight.ttf</string>
		<string>NotoSans-ExtraLightItalic.ttf</string>
		<string>NotoSans-Italic.ttf</string>
		<string>NotoSans-Light.ttf</string>
		<string>NotoSans-LightItalic.ttf</string>
		<string>NotoSans-Medium.ttf</string>
		<string>NotoSans-MediumItalic.ttf</string>
		<string>NotoSans-Regular.ttf</string>
		<string>NotoSans-SemiBold.ttf</string>
		<string>NotoSans-SemiBoldItalic.ttf</string>
		<string>NotoSans-Thin.ttf</string>
		<string>NotoSans-ThinItalic.ttf</string>
		<string>NotoSansDisplay-Italic-VariableFont_wdth,wght.ttf</string>
		<string>NotoSansDisplay-VariableFont_wdth,wght.ttf</string>
		<string>NotoSansDisplay-Black.ttf</string>
		<string>NotoSansDisplay-BlackItalic.ttf</string>
		<string>NotoSansDisplay-Bold.ttf</string>
		<string>NotoSansDisplay-BoldItalic.ttf</string>
		<string>NotoSansDisplay-ExtraBold.ttf</string>
		<string>NotoSansDisplay-ExtraBoldItalic.ttf</string>
		<string>NotoSansDisplay-ExtraLight.ttf</string>
		<string>NotoSansDisplay-ExtraLightItalic.ttf</string>
		<string>NotoSansDisplay-Italic.ttf</string>
		<string>NotoSansDisplay-Light.ttf</string>
		<string>NotoSansDisplay-LightItalic.ttf</string>
		<string>NotoSansDisplay-Medium.ttf</string>
		<string>NotoSansDisplay-MediumItalic.ttf</string>
		<string>NotoSansDisplay-Regular.ttf</string>
		<string>NotoSansDisplay-SemiBold.ttf</string>
		<string>NotoSansDisplay-SemiBoldItalic.ttf</string>
		<string>NotoSansDisplay-Thin.ttf</string>
		<string>NotoSansDisplay-ThinItalic.ttf</string>
		<string>NotoSansDisplay_Condensed-Black.ttf</string>
		<string>NotoSansDisplay_Condensed-BlackItalic.ttf</string>
		<string>NotoSansDisplay_Condensed-Bold.ttf</string>
		<string>NotoSansDisplay_Condensed-BoldItalic.ttf</string>
		<string>NotoSansDisplay_Condensed-ExtraBold.ttf</string>
		<string>NotoSansDisplay_Condensed-ExtraBoldItalic.ttf</string>
		<string>NotoSansDisplay_Condensed-ExtraLight.ttf</string>
		<string>NotoSansDisplay_Condensed-ExtraLightItalic.ttf</string>
		<string>NotoSansDisplay_Condensed-Italic.ttf</string>
		<string>NotoSansDisplay_Condensed-Light.ttf</string>
		<string>NotoSansDisplay_Condensed-LightItalic.ttf</string>
		<string>NotoSansDisplay_Condensed-Medium.ttf</string>
		<string>NotoSansDisplay_Condensed-MediumItalic.ttf</string>
		<string>NotoSansDisplay_Condensed-Regular.ttf</string>
		<string>NotoSansDisplay_Condensed-SemiBold.ttf</string>
		<string>NotoSansDisplay_Condensed-SemiBoldItalic.ttf</string>
		<string>NotoSansDisplay_Condensed-Thin.ttf</string>
		<string>NotoSansDisplay_Condensed-ThinItalic.ttf</string>
		<string>NotoSansDisplay_ExtraCondensed-Black.ttf</string>
		<string>NotoSansDisplay_ExtraCondensed-BlackItalic.ttf</string>
		<string>NotoSansDisplay_ExtraCondensed-Bold.ttf</string>
		<string>NotoSansDisplay_ExtraCondensed-BoldItalic.ttf</string>
		<string>NotoSansDisplay_ExtraCondensed-ExtraBold.ttf</string>
		<string>NotoSansDisplay_ExtraCondensed-ExtraBoldItalic.ttf</string>
		<string>NotoSansDisplay_ExtraCondensed-ExtraLight.ttf</string>
		<string>NotoSansDisplay_ExtraCondensed-ExtraLightItalic.ttf</string>
		<string>NotoSansDisplay_ExtraCondensed-Italic.ttf</string>
		<string>NotoSansDisplay_ExtraCondensed-Light.ttf</string>
		<string>NotoSansDisplay_ExtraCondensed-LightItalic.ttf</string>
		<string>NotoSansDisplay_ExtraCondensed-Medium.ttf</string>
		<string>NotoSansDisplay_ExtraCondensed-MediumItalic.ttf</string>
		<string>NotoSansDisplay_ExtraCondensed-Regular.ttf</string>
		<string>NotoSansDisplay_ExtraCondensed-SemiBold.ttf</string>
		<string>NotoSansDisplay_ExtraCondensed-SemiBoldItalic.ttf</string>
		<string>NotoSansDisplay_ExtraCondensed-Thin.ttf</string>
		<string>NotoSansDisplay_ExtraCondensed-ThinItalic.ttf</string>
		<string>NotoSansDisplay_SemiCondensed-Black.ttf</string>
		<string>NotoSansDisplay_SemiCondensed-BlackItalic.ttf</string>
		<string>NotoSansDisplay_SemiCondensed-Bold.ttf</string>
		<string>NotoSansDisplay_SemiCondensed-BoldItalic.ttf</string>
		<string>NotoSansDisplay_SemiCondensed-ExtraBold.ttf</string>
		<string>NotoSansDisplay_SemiCondensed-ExtraBoldItalic.ttf</string>
		<string>NotoSansDisplay_SemiCondensed-ExtraLight.ttf</string>
		<string>NotoSansDisplay_SemiCondensed-ExtraLightItalic.ttf</string>
		<string>NotoSansDisplay_SemiCondensed-Italic.ttf</string>
		<string>NotoSansDisplay_SemiCondensed-Light.ttf</string>
		<string>NotoSansDisplay_SemiCondensed-LightItalic.ttf</string>
		<string>NotoSansDisplay_SemiCondensed-Medium.ttf</string>
		<string>NotoSansDisplay_SemiCondensed-MediumItalic.ttf</string>
		<string>NotoSansDisplay_SemiCondensed-Regular.ttf</string>
		<string>NotoSansDisplay_SemiCondensed-SemiBold.ttf</string>
		<string>NotoSansDisplay_SemiCondensed-SemiBoldItalic.ttf</string>
		<string>NotoSansDisplay_SemiCondensed-Thin.ttf</string>
		<string>NotoSansDisplay_SemiCondensed-ThinItalic.ttf</string>
	</array>
	<key>NSFaceIDUsageDescription</key>
	<string>$(NSFaceIDUsageDescription)</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>$(NSAppleMusicUsageDescription)</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>$(NSBluetoothAlwaysUsageDescription)</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>$(NSBluetoothPeripheralUsageDescription)</string>
	<key>NSCalendarsUsageDescription</key>
	<string>$(NSCalendarsUsageDescription)</string>
	<key>NSCameraUsageDescription</key>
	<string>$(NSCameraUsageDescription)</string>
	<key>NSContactsUsageDescription</key>
	<string>$(NSContactsUsageDescription)</string>
	<key>NSHealthShareUsageDescription</key>
	<string>$(NSHealthShareUsageDescription)</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>$(NSHealthUpdateUsageDescription)</string>
	<key>NSHomeKitUsageDescription</key>
	<string>$(NSHomeKitUsageDescription)</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>$(NSLocationAlwaysAndWhenInUseUsageDescription)</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>$(NSLocationAlwaysUsageDescription)</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>$(NSLocationWhenInUseUsageDescription)</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>$(NSMicrophoneUsageDescription)</string>
	<key>NSMotionUsageDescription</key>
	<string>$(NSMotionUsageDescription)</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>$(NSPhotoLibraryAddUsageDescription)</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(NSPhotoLibraryUsageDescription)</string>
	<key>NSRemindersUsageDescription</key>
	<string>$(NSRemindersUsageDescription)</string>
	<key>NSSiriUsageDescription</key>
	<string>$(NSSiriUsageDescription)</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>$(NSSpeechRecognitionUsageDescription)</string>
	<key>NSVideoSubscriberAccountUsageDescription</key>
	<string>$(NSVideoSubscriberAccountUsageDescription)</string>
</dict>
</plist>
